<ion-content class="background">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ion-text-justify">
    <ion-img src="https://res.cloudinary.com/ddxu7jpgn/image/upload/v1585775510/texto_laaghl.png"></ion-img>
  </div>
</ion-content>

<ion-fab vertical = "top" slot="fixed" color = "danger" *ngIf="!edit">
  <ion-fab-button color = "primary" routerLink = ".."  >
    <ion-icon name = "Home"></ion-icon>
  </ion-fab-button>
</ion-fab>


