<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-content>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title >
          Datos del usuario
        </ion-card-title>

        <ion-card-content>
          <form #formulario = "ngForm" (ngSubmit)= "menuAccion()">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input required type="text" name="Name" [(ngModel)]= "usuario.nombre" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input required type="text" name="apellido" [(ngModel)]= "usuario.apellido"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input required type="email" name="email" 
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        [(ngModel)]= "usuario.email"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input required type="password" name="password" [(ngModel)]= "usuario.password"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label>Users</ion-label>
              <ion-select [compareWith]="compareWith">
                <ion-select-option *ngFor="let categoria of categoriaList">{{categoria.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-label position="floating" *ngIf="formulario.valid"> Los datos ingresados son los solicitados</ion-label>
            <ion-label position="floating" *ngIf="formulario.valid==false"> Faltan campos requeridos</ion-label>

            <ion-button color = "success" expand= "full" type="submit"
                        [disabled]="formulario.invalid" *ngIf="!edit"> 
              Registrar
            </ion-button>
            <ion-button color = "success" expand= "full" type="submit"
                        [disabled]="formulario.invalid" *ngIf="edit"> 
              Editar
            </ion-button>

          </form> 
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-fab vertical = "bottom" horizontal ="end" slot="fixed" color = "danger" *ngIf="!edit">
    <ion-fab-button color = "primary" routerLink = ".." >
      <ion-icon name = "arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 
  <ion-fab vertical = "bottom" horizontal ="end" slot="fixed" color = "danger" *ngIf="edit">
    <ion-fab-button color = "primary" routerLink = "../.." >
      <ion-icon name = "arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

</ion-content>
