<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestion de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-content>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title >
          Listado de Productos Existentes
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngFor="let producto of productoList">
    <div class = "card text-center">
      <ion-card (click)="presentActionSheet(producto.id_producto, producto)">
        <ion-card-header>
          <ion-card-title>{{producto.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          PRECIO: {{producto.precio}} <br>
          PRECIO OFERTA: {{producto.precio_oferta}} 
        </ion-card-content>
        <ion-card-content>
          CATEGORIA: {{producto.nombre_categoria}}
         </ion-card-content>
 
        
      </ion-card>
      
    </div>
  </div>



  <ion-fab vertical = "bottom" horizontal ="end" slot="fixed">
    <ion-fab-button routerLink = "datos" >
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
