<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos en oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="productos" [fullscreen]="true">
  <div *ngIf="productos.length === 0" >
      <div>
        <div class="ion-text-center">
          <h1>NO HAY PRODUCTOS EN OFERTA</h1>
          <h4>Te invitamos a seguir navegando en la app, hay una gran variedad de opciones para vos</h4>
          <ion-img src="https://res.cloudinary.com/ddxu7jpgn/image/upload/v1585798991/bolsa_pbefeo.png"></ion-img>
        </div>
      </div>
  </div>
  <div *ngIf="productos.length > 0">
    <ion-card *ngFor="let producto of productos" >
      <ion-card-header  *ngIf="producto.precio_oferta != 0" style="cursor: pointer" routerDirection="forward" lines="none" detail="false" [routerLink]="['/', 'producto', producto.id_producto]">
        <ion-card-title>{{producto.nombre}}</ion-card-title>
        <ion-card-subtitle *ngIf="producto.precio_oferta != 0">
          <span style="color: red; font-size: 1.4em">Ahora: ${{producto.precio_oferta}}</span>
          <br>
          Antes: $<span style="text-decoration: line-through">{{producto.precio}}</span>
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="producto.precio_oferta == 0">
          <span style="font-size: 1.4em">Precio: ${{producto.precio}}</span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="producto.precio_oferta != 0">
        <p>{{producto.descripcion}}</p>
        <br>
        Valoracion <app-valoration [valoration]="producto.calificacion"></app-valoration>
        <div style="float: right">
          <ion-button (click)="AddProduct(producto)"><ion-icon name="cart"></ion-icon>Añadir</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-content *ngIf="!productos" [fullscreen]="true">
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
  <ion-card *ngFor="let p of productosSkeleton">
    <ion-card-header>
      <ion-card-title><ion-skeleton-text style="width: 70%"></ion-skeleton-text></ion-card-title>
      <ion-card-subtitle>
        <span style="font-size: 1.4em"><ion-skeleton-text style="width: 18%"></ion-skeleton-text></span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text style="width: 60%"></ion-skeleton-text>
        <br>
        <ion-skeleton-text style="width: 25%"></ion-skeleton-text>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
