<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-content >

  <div id="container">
    <ion-card >
      <ion-card-header >
        <ion-card-title >
          Datos del producto
        </ion-card-title>

        <ion-card-content >
          <form #formulario = "ngForm" (ngSubmit)= "saveProduct()">
            <ion-item>
              <ion-label position="floating">Nombre del producto</ion-label>
              <ion-input required type="text" name="Name" [(ngModel)]= "producto.nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Descripcion</ion-label>
              <ion-input required type="text" name="descripcion" [(ngModel)]= "producto.descripcion"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Precio</ion-label>
              <ion-input required type="text" name="precio" [(ngModel)]= "producto.precio"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">URL de la Imagen</ion-label>
              <ion-input required type="text" name="foto" [(ngModel)]= "producto.foto"></ion-input>
            </ion-item>
            <div class="ion-padding">
              <ion-item>
                <ion-label>Categoria</ion-label>
                <ion-select  (ionChange)="OnChange($event)">
                  <ion-select-option *ngFor="let categoria of categoriaList" [value]="categoria.id_categoria" >
                    {{categoria.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <ion-label position="floating" *ngIf="formulario.valid"> Los datos ingresados son los solicitados</ion-label>
            <ion-label position="floating" *ngIf="formulario.valid==false"> Faltan campos requeridos</ion-label>

            <ion-button color="success" expand= "full" type="submit"
            [disabled]="formulario.invalid" > 
              Registrar Producto
            </ion-button>

          </form> 
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  
  </div>


  <ion-fab vertical = "bottom" horizontal ="end" slot="fixed" color = "danger">
    <ion-fab-button color = "danger" routerLink = ".." >
      <ion-icon name = "trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
