<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestion de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-content>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title >
          Listado de Usuarios Existentes
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngFor="let user of usersList">
    <div class = "card text-center" *ngIf="user.estado == 1">
      <ion-card (click)="presentActionSheet(user.id_usuario, user.nombre, user.apellido, user)">
        <ion-card-header>
          <ion-card-subtitle>{{user.apellido}}</ion-card-subtitle>
          <ion-card-title>{{user.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          EMAIL: {{user.email}} 
        </ion-card-content>
        <ion-card-content>
          TIPO USUARIO: {{user.nombre_tipo_usuario}}
         </ion-card-content>

      </ion-card>
      
    </div>
  </div>

  <ion-fab vertical = "bottom" horizontal ="end" slot="fixed">
    <ion-fab-button (click)="agregarUsuario()" >
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
