<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestion de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-content>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title >
          Usuarios Existentes
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    

  </div>

  <ion-fab vertical = "bottom" horizontal ="end" slot="fixed">
    <ion-fab-button routerLink = "datos" >
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
