<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
     <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>

    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title >
            Datos de la categoria
          </ion-card-title>


        </ion-card-header>

        <form>
          <ion-item>
            <ion-label position="floating">Nombre de la categoria</ion-label>
            <ion-input [(ngModel)]="categoria.nombre" required type="text" name="Name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input [(ngModel)]="categoria.descripcion" required type="text" name="Descripcion"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select value="{{categoria.categoria_id_categoria}}" #S (ionChange)="SetID(S.value)" placeholder="Seleccione una categoria padre" >
              <ion-select-option value="{{cat.id_categoria}}" *ngFor="let cat of categorias">{{cat.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-label position="fixed">*Si no selecciona una categoria se creara como categoria principal<ion-text color="danger">*</ion-text></ion-label>
        </form>

        <ion-button color="success" expand= "full" (click) = "save()" *ngIf="!edit">
          Guardar
        </ion-button>
        <ion-button color="success" expand= "full" (click)= "editar()" *ngIf="edit">
          Editar
        </ion-button>
      </ion-card>



    </div>

    <ion-fab vertical = "bottom" horizontal ="end" slot="fixed" color = "danger" *ngIf="!edit">
      <ion-fab-button color = "primary" routerLink = ".." >
        <ion-icon name = "arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical = "bottom" horizontal ="end" slot="fixed" color = "danger" *ngIf="edit">
      <ion-fab-button color = "primary" routerLink = "../.." >
        <ion-icon name = "arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
