<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{categoria.categoriaNombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let producto of productos">
    <ion-card-header>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
      <ion-card-subtitle>
        <span style="color: red; font-size: 1.4em">Ahora: ${{producto.precioOferta}}</span>
        <br>
        Antes: $<span style="text-decoration: line-through">{{producto.precio}}</span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{producto.descripcion}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
