.img-center{
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1.5em;
}

.p-center{
  text-align: justify;
  text-justify: inter-word;
  margin: 1.5em;
}

.valoration{
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 0.5em;
  color: #ffd400;
}
