<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="producto">{{producto.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="producto" [fullscreen]="true">
  <img
          class="img-center"
          src="{{this.producto.foto === 'https://st3.depositphotos.com/7109552/12546/v/950/depositphotos_125462500-stock-illustration-minimal-box-square-black-and.jpg' ? '' : this.producto.foto }}">
  <app-valoration
          class="valoration"
          [valoration]="producto.calificacion"
  ></app-valoration>
  <div style="text-align: center" *ngIf="isLogin">
    <ion-button (click)="AddProduct(producto)"><ion-icon name="cart"></ion-icon>Añadir</ion-button>
  </div>
  <p
          class="p-center"
  >
    {{producto.descripcion}}
  </p>
  <app-comentarios></app-comentarios>
</ion-content>

<ion-content *ngIf="!producto" [fullscreen]="true">
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
  <ion-skeleton-text style="height: 50%;" class="img-center"></ion-skeleton-text>
  <br>
  <ion-skeleton-text style="height: 5%; width: 250px; margin: auto"></ion-skeleton-text>
  <p
          class="p-center"
  >
    <ion-skeleton-text style="height: 1em"></ion-skeleton-text>
    <ion-skeleton-text style="height: 1em"></ion-skeleton-text>
    <ion-skeleton-text style="height: 1em"></ion-skeleton-text>
    <ion-skeleton-text style="height: 1em"></ion-skeleton-text>
    <ion-skeleton-text style="height: 1em; width: 32%"></ion-skeleton-text>
  </p>
</ion-content>

