<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestion de Sucursales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-content>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title >
          Listado de Sucursales Existentes
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngFor="let sucursal of sucursalList">
    <div class = "card text-center" >
      <ion-card (click)="presentActionSheet(sucursal.idSucursal, sucursal)">
        <ion-card-header>
          <ion-card-subtitle>Tel: {{sucursal.numero}}</ion-card-subtitle>
          <ion-card-title>{{sucursal.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          DIRECCION: {{sucursal.direccion}} 
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngFor="let sucursal of [1,1,1,1,1,1,1,1,1,1,1]">
    <div class = "card text-center" >
      <ion-card>
        <ion-card-header>
          <ion-label>
            <ion-skeleton-text width='30%'> </ion-skeleton-text>
          </ion-label>
            <ion-skeleton-text width='300%'> </ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text width='70%'> </ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  

  <ion-fab vertical = "bottom" horizontal ="end" slot="fixed">
    <ion-fab-button routerLink = "datos" >
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
